body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-95px;
  width:628px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:12px;
  width:624px;
  height:800px;
}
#u81_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:800px;
  overflow:auto;
}
